---
layout: base.njk
title: made
permalink: /made/
---

<h1 class="page-title">made</h1>

<ul class="made-list">
  <li class="made-item">
    <div class="made-header">
      <span class="made-name"><a href="/made/crosswrd/">crosswrd.site</a></span>
      <span class="made-date">feb 2026</span>
    </div>
    <p class="made-desc">A personalized crossword puzzle you make for someone you love. Write clues, we build the crossword, send them the link.</p>
    <a href="https://crosswrd.site" class="made-link" target="_blank" rel="noopener">&rarr; crosswrd.site</a>
  </li>
  <li class="made-item">
    <div class="made-header">
      <span class="made-name"><a href="/made/tsk/">tsk</a></span>
      <span class="made-date">jan 2026</span>
    </div>
    <p class="made-desc">A fast, minimal terminal task manager.</p>
    <a href="https://vivekmalapaka-devops.github.io/tsk/" class="made-link" target="_blank" rel="noopener">&rarr; vivekmalapaka-devops.github.io/tsk</a>
  </li>
</ul>

<a href="/" class="back-link">&larr; home</a>
